.container {
    color: white;
    padding: 10rem;
}

.dashboard {
    color: white;
}

.button {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
    width: 200px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}